Repository joseph0926/firsttx, changes with the labels that .github/labeler.yml gives for each.
All labels: area: demo, area: playground, area: tx, area: prepaint, area: local-first, type: docs, type: test, type: chore

.github/labeler.yml:

'area: demo':
  - 'apps/demo/**'

'area: playground':
  - 'apps/playground/**'

'area: tx':
  - 'packages/tx/**'

'area: prepaint':
  - 'packages/prepaint/**'

'area: local-first':
  - 'packages/local-first/**'

'type: docs':
  - 'docs/**'
  - '**/*.md'
  - '**/*.mdx'
  - 'README*'

'type: test':
  - '**/*.{spec,test}.{js,jsx,ts,tsx}'

'type: chore':
  - '.github/**'

chore(ci): add playground label
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: type: chore

fix(local-first, prepaint): resolve IndexedDB store name collision
  .changeset/config.json
  packages/local-first/CHANGELOG.md
  packages/local-first/package.json
  packages/local-first/src/storage.ts
  packages/prepaint/CHANGELOG.md
  packages/prepaint/package.json
  packages/prepaint/src/plugin/vite.ts
  packages/prepaint/src/types.ts
  packages/prepaint/tsup.config.ts
  pnpm-lock.yaml
Labels: area: prepaint, area: local-first, type: docs

release(local-first, prepaint): release @firsttx/local-first:0.1.2 / @firsttx/prepaint:0.1.1
  .husky/pre-push
  packages/local-first/CHANGELOG.md
  packages/local-first/package.json
  packages/local-first/tests/hooks.test.ts
  packages/local-first/tests/model.test.ts
  packages/local-first/tests/storage.test.ts
  packages/prepaint/CHANGELOG.md
  packages/prepaint/README.md
  packages/prepaint/package.json
Labels: area: prepaint, area: local-first, type: docs, type: test

release(prepaint): @firsttx/prepaint v0.1.2
  packages/prepaint/CHANGELOG.md
  packages/prepaint/package.json
Labels: area: prepaint, type: docs

feat(demo): add prepaint
  apps/demo/package.json
  apps/demo/src/main.tsx
  apps/demo/vite.config.ts
  pnpm-lock.yaml
Labels: area: demo

feat(playground): implementation of playground ui and structure
  .changeset/config.json
  apps/playground/.gitignore
  apps/playground/README.md
  apps/playground/components.json
  apps/playground/eslint.config.js
  apps/playground/index.html
  apps/playground/package.json
  apps/playground/src/components/home/level-section.tsx
  apps/playground/src/components/home/scenario-card.tsx
  apps/playground/src/components/home/stat-card.tsx
  apps/playground/src/components/scenario-layout.tsx
  apps/playground/src/components/theme-provider.tsx
  apps/playground/src/index.css
  apps/playground/src/lib/utils.ts
  apps/playground/src/main.tsx
  apps/playground/src/pages/home.page.tsx
  apps/playground/src/pages/prepaint/heavy.page.tsx
  apps/playground/src/pages/prepaint/route-switching.tsx
  apps/playground/src/pages/root.layout.tsx
  apps/playground/src/pages/sync/conflict.tsx
  apps/playground/src/pages/sync/staleness.tsx
  apps/playground/src/pages/sync/timing.tsx
  apps/playground/src/pages/tx/concurrent.tsx
  apps/playground/src/pages/tx/network-chaos.tsx
  apps/playground/src/pages/tx/rollback-chain.tsx
  apps/playground/src/router.tsx
  apps/playground/tsconfig.app.json
  apps/playground/tsconfig.json
  apps/playground/tsconfig.node.json
  apps/playground/vite.config.ts
  eslint.config.js
  pnpm-lock.yaml
Labels: area: playground, type: docs
